.login {
  background-color: rgb(31, 31, 31);
    margin: 2rem auto;
    width: 40rem;
    max-width: 95%;
    padding: 1rem;
    
}


.form{
  padding: 1rem;
}
   

.login__controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.error {
  color: red;
  font-weight: bold;
}

.login__control label {
  font-weight: bold;
  color: white;
  margin-bottom: 0.5rem;
  padding: 1rem;
  display: block;
}

.login__control input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

.login__control select {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

.login__actions {
  text-align: right;

}

.login button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #40005d;
  background-color: #40005d;
  color: white;
  border-radius: 12px;
  margin-right: 1rem;
}

.login button:hover,
.login button:active {
  border: 1px solid #40005d;
  background-color: #40005d;
  color: white;
}

.login button.alternative {
  
  border: 1px solid #40005d;
  background-color: #40005d;
  color: white;
}

.login button.alternative:hover,
.login button.alternative:active {
  background-color: #510674;
}

.text-login {
  color: white;
  text-align: center;
}